/* #imgNav{
        margin-top: 40px;
} */

/* body{
    margin: 30px;
    padding: 0;
    
} */



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    color: hsl(229, 31%, 21%);
    position: fixed;
     width: 100%;
     z-index: 10;
}


.navbar-links ul{
    margin: 5%   0%;
    padding: 0%;
    display: flex;
}

.navbar-links li {
    list-style: none ;
} 

.navbar-links li:hover{
    background-color: hsl(0, 100%, 79%);
    color:white
}

.navbar-links li a{
    text-decoration: none;
    color: hsl(229, 31%, 21%);
    padding: 1rem;
    display: block;
    font-size:large;
}
.toggle-button{
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 21px;
}

.toggle-button .bar{
    height: 4px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-right: 15%;
}




@media only screen and (max-width: 375px) {

    
        .navbar #logo1{
            display: block;
        }
    
        .toggle-button{
            display: flex;
        }
        .navbar-links{
            display: none;
        }
        .navbar{
            flex-direction: column;
            align-items: flex-start;
            
        }
        .navbar-links ul{
            flex-direction: column;
            width: 100%; 
        }
        .navbar-links li{
            text-align: center;
            background-color: hsl(229, 31%, 21%);
            color: white;
           
            
        }
        .navbar-links li a{
            padding: 3rem 9rem;
            color: white;
            grid-row:1px solid #eee;
        }
        
        
        #email{
            width: 90%;
        }
        
        
        .navbar-links.active{
            display: flex;

            
        } 
}




 

  .btnBlue{
    padding: 15px 25px;
    border-radius: 8px;
    background-color:hsl(231, 69%, 60%) ;
    color: white;
    border-color: transparent;
    box-shadow: 0px 5px 10px -5px;
    
}

.btnBlue:hover{
    background-color: white;
    border-color: hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
}

.btnWhite{
    padding: 15px 25px;
    border-radius: 8px;
    background-color:hsl(0, 0%, 100%) ;
    color: rgb(0, 0, 0);
    border-color:transparent;
    box-shadow: 0px 5px 11px -5px;
    }

.btnWhite:hover{
    border-color: gray;
}


.btnRed{
    padding: 12px 26px;
    border-radius: 8px;
    background-color:hsl(0, 96%, 63%) ;
    color: rgb(255, 255, 255);
    border-color: transparent;
    
}

.btnRed:hover{
    background-color: white;
    border-color:hsl(0, 96%, 63%) ;
    color: hsl(0, 96%, 63%);
}



.cont-text{
    display: inline-block;
    font-size:large;
    margin: 5em 2em
    
}

.cont-img1{
    display: inline-block;
}

.parrafo{
    color: gray;
}
.card{
    display: inline-block;
    box-shadow: 0 10px 11px -5px;
    border-radius: 1em;
    
}
.card-img-top{
    width: 100px;
}

#preFooter{
    background-color: hsl(231, 69%, 60%);
    color: white;
    padding: 3em;  
    font-size: x-large;
}

.icons{
    float: right;
}

#acordeon{
    display: flex;
    flex-wrap: wrap ;
    max-width: 500px;
    margin: 50px auto;
    padding: 0;
}

footer{
    background-color: hsl(229, 31%, 21%);
}

#cont-footer{
    color: white;
    padding: 3em;
}


#btnContact{
    padding: 1rem ;
    border-radius: 8px;
}


 #cont-footer ul{
    display: inline-block;
}
  #cont-footer ul li {
    display: inline-block;
  }   

  #cont-footer li a{
      display: inline-block;
      color: #fff;
      text-decoration: none;
      padding: 2em 1em;
      font-weight: 550;
  }




.tabs{
    display: inline-block;
    flex-wrap: wrap ; 
     /* max-width: 100px; */
    margin: 5% 5%;
    padding: 0;
    width: 70%;

}


.tabs input[type="radio"]{
    display: none;
}


.tabs  label{
    padding: 20px;
    background: white;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    order: 1;
   
    
}

.tabs .tab{
    padding: 0px;
    background-color: white;
    width: 100%;
    display: none;
    order: 2;
}


.tabs input[type="radio"]:checked + label + .tab {
    display: block;
} 



#error{
    background-color:hsl(0, 97%, 71%) ;
    color: white;
    border-color: hsl(0, 96%, 63%);
    border-radius: 10px;
    font-size: smaller;
    margin-left: 0px;
    margin-right: 160px;
    margin-top: 0%;
}
#email{
    
    border-radius: 8px;
    border-color: transparent;
}



